# How to connect to a SQL server

- Make sure that when you are running notebooks you select the right venv. This venv holds all your packages which you will need to code. 
- Download the ipykernel package. You can do this by running ```pip install ipykernel``` in your terminal. Make sure you are within your activated .venv!

First we do some import statements. It is common practice to put these at the top of your script.

In [1]:
import pyodbc
import pandas as pd
from dotenv import load_dotenv # we need this to store environment variables (this is not needed when coding locally)
import os

In [2]:
# Only needed when using the .env file
load_dotenv()

True

In [3]:
f_server = os.getenv("SERVER_Fabric")
f_database = os.getenv("DB_Fabric")
f_uid = os.getenv("UID_Fabric")
f_pwd = os.getenv("PWD_Fabric")

In [4]:
f_server, f_database, f_uid, f_pwd

('zezfh2i6qj2uli7c3vmpvjiteu-grhoq4vpsf4utolejfewhqiu3i.datawarehouse.fabric.microsoft.com',
 'Training_Staging_Lakehouse_Youri',
 'SVC_PowerBi@innax.nl',
 'kz3baCPF3KmABc8DpXeyVacbE6QkV5Nh')

It could be possible that this does not work out of the gate for you. One issue might be that you don't have the correct drivers installed. To find these:
1. Go to your search bar and look for ODBC Data Sources
2. Go to 'drivers' or 'stuurprogramma'
3. Scroll through the list and find 'ODBC Driver XX for SQL Server

![ODBC Image](images\ODBC.png)

To download drivers visit: 
https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16

Keep in mind that some versions work with different versions of servers. So if 17 does not work try 18.

In [5]:
fabric_conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={f_server};DATABASE={f_database};Authentication=ActiveDirectoryPassword;UID={f_uid};PWD={f_pwd};ConnectionTimeout=60')

In [6]:
tableresult = pd.read_sql("SELECT * FROM Training_DF_Youri", fabric_conn)

C:\Users\YouriDibbet\AppData\Local\Temp\ipykernel_8724\4202022485.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tableresult = pd.read_sql("SELECT * FROM Training_DF_Youri", fabric_conn)

You will get an error using when using pyodbc. This doesn't matter for now since all we do is read tables which works just fine. There are workarounds for this, so feel free to explore these on your own. But as you can see below we are able to run the tableresult!

In [7]:
tableresult.head()

,CustomerID,OrderID,OrderDate,ProductID,Quantity,Price,TotalAmount,Region,Category,PaymentMethod,Voornaam
0,1000,40050,2023-05-13,320,9,28.68,258.12,Noord,Clothing,PayPal,Youri
1,1000,55012,2023-05-29,391,9,99.43,894.87,Zuid,Toys,PayPal,Youri
2,1000,55050,2023-05-01,392,7,81.31,569.17,Zuid,Toys,PayPal,Youri
3,1000,15083,2023-05-14,336,4,61.74,246.96,West,Books,PayPal,Youri
4,1000,50088,2023-05-14,351,6,65.15,390.90,Noord,Home,PayPal,Youri

We read from a fabric database. This is useful for some, but since we have on premise sql databases aswell I would like to show you have to connect to these as well.

In [8]:
server = os.getenv("SERVER_SQL")
database = os.getenv("DB_SQL")
uid = os.getenv("UID_SQL")
pwd = os.getenv("PWD_SQL")

In [9]:
server, database, uid, pwd

('EDS2', 'INN-VEE-SQL12.innax.nl', 'YouriDibbet', '!nnax20242')

In [ ]:
sql_conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={uid};PWD={pwd};ConnectionTimeout=60')

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Invalid connection string attribute (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')